<div class="container">
  <h1>New request</h1>

  <%= form_for(@request) do |f| %>
    <%= f.label :project_name %>
    <%= f.text_field :project_name %>
    <%= f.label :project_summary %>
    <%= f.text_field :project_summary %>
    <% Sample.all.each do |sample|  %>
      <div>
        <p><%= sample.sample_name %></p>
        <%= f.fields_for :lab_analysis, LabAnalysis.new, child_index: sample.id do |l| %>
          <% LabAnalysis::LABANALYSIS.each do |analysis| %>
            <%= l.label analysis %>
            <%= l.check_box analysis.to_sym %>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <%= f.submit %>
  <% end %>

  <%= link_to 'Back to requests', requests_path %>
</div>
